html {
  //background
  background-image: url(../assets/images/ocean.jpg);
  background-size: cover;
  background-color: rgb(249, 248, 248);

  //text
  font-family: Verdana;
  font-size: 16px;
  text-align: center;
}

body {
  margin: 0;
}

#main {
  //size
  position: absolute;
  top: 50px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  //text
  text-align: center;
  color: white;
  padding-top: 90px;

  //background
}

// this element wraps our entire application; rules here are
// for laying out the highest-level components relative to one
// another (e.g., the navbar relative to the rest of the app below it).
div#application {
  display: flex;
  flex-direction: column;
}

header.navBar {
  background: #141414;
  color: #fafafa;
  padding: 1rem;

  display: flex;
  justify-content: space-between;

  // main app title
  h1 {
    font-size: 1.4rem;
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;

    // links
    li {
      display: inline;
      margin: 0 1rem;
    }
  
    // linkstyling
    a {
      color: inherit;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#charts {
  border: 10px solid #8a8889;

  //size
  position: absolute;
  top: 250px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  color: white;

  // //display
  display: inline-flex;
  justify-content: space-evenly;

  background-color: #313132;
}

#monitor {
  //size and location
  position: relative;
  width: 55%;
  margin-top: 5%;

  height: 80%;

  background-color: #ffffff;
  color: #000000;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
