#dashboard {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;

    //text
    text-align: center;
    color: white;

    .monitor {
        background-color: #fcfcfc;
        border-radius: .66rem;
        color: #141414;
        padding: 1rem;
        margin: 1rem;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;

        h2 {
            margin: 0;
        }
    }
}