@use 'dashboard';

html {
  //background
  background-image: url(../images/ocean.jpg);
  background-size: cover;
  background-color: #f9f8f8;

  //text
  font-family: Verdana;
  font-size: 16px;
  text-align: center;
}

body {
  margin: 0;
}

// this element wraps our entire application; rules here are
// for laying out the highest-level components relative to one
// another (e.g., the navbar relative to the rest of the app below it).
div#application {
  display: flex;
  flex-direction: column;
}

header.navBar {
  background: #141414;
  color: #fcfcfc;
  padding: 1rem;

  display: flex;
  justify-content: space-between;

  // main app title
  h1 {
    font-size: 1.4rem;
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;

    // links
    li {
      display: inline;
      margin: 0 1rem;
    }
  
    // linkstyling
    a {
      color: inherit;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
