

html{

    //background
    background-image: url(./ocean.jpg);
    background-size: cover;

    //text
    text-align: center;

   
}

#main{

    //size
    position: absolute;
    top: 55px;
    right: 0px;
    left: 0px;
    bottom: 0px;

    //text
    text-align: center;
    color: white;
    padding-top: 90px;

}

.navBar{

    //location
    position: absolute;
    top: 9px;
    left: 0px;
    right: 0px;
    height: 70px;


    //background
    background: #121212;

    //text
    font-family: Verdana;
    font-size: 35px;
    color: #CDCDCD;
    text-align: right;
    

    //links
    li{
        display: inline;
      
    }

        //linkstyling
        a {
            color: #CDCDCD;
            
            text-decoration: none;
                padding: 14px 24px;
            &:hover {
            text-decoration: underline;
            }
        }

}


.charts{

    //border
    border: 10px solid rgb(138, 136, 136);

    //size
    position: absolute;
    top: 200px;
    right: 0px;
    left: 0px;
    bottom: 0px;


    //display
    display: inline-flex;
    justify-content: space-evenly;

  

  


    #ChartOne{

        //border
        border: 5px solid rgb(231, 229, 229);
    
        //size and location
        width: 20%;
        margin-top:15%;
        margin-left: 0%;
        height: 480px;
    
    }
    
    
    #ChartTwo{
    
        //border
        border: 5px solid rgb(231, 229, 229);
    
        //size and location
        width: 20%;
        margin-top: 15%;
        height: 480px;
    
    
        //display
        display: inline-flex;
        justify-content: space-evenly;
    
    }
    

    #ChartThree{
    
        //border
        border: 5px solid rgb(231, 229, 229);
    
        //size and location
        width: 20%;
        margin-top:15%;
        height: 480px;
        margin-right: 7%;
    
        //display
        display: inline-flex;
        justify-content: space-evenly;
    
    }


}







#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
